# Environment variables for the DeSoto service discovery
# This corresponds to an etcd entry at /environments/desoto

DOCKER_HOST=unix:///var/run/docker.sock
SERVICEDEF_PATH=/publication

# These two values are set in the docker run command since their values change
# depending on the run-time environment. See desoto.service for more details.
# ETCD_HOSTS=http://172.17.42.1:4001
# HOST=8.8.8.8
